.home-page-post-container {
    width: 100%;
    background: #111;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.home-user-profile-and-subject {
    display: flex;
    justify-content: space-between;
}

.home-page-post-details {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}

.home-page-post-interact {
    display: flex;
    align-items: center;
}

.approve-button {
    padding: 10px;
    background: transparent;
    color: #818cf8;
    border-radius: 5px;
    border: 0.5px solid #818cf8;
    font-size: 15px;
    cursor: pointer;
}

.approve-button:hover {
    background: #6775f7;
    color: #efefef;
}