/* USERNAMe */

.user-setting-profile-username {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.user-setting-profile-username label {
    padding: 5px 0;
    color: #efefef;
    font-weight: 600;
}

.user-setting-profile-username input {
    padding: 10px;
    width: 300px;
    border: 0.5px solid #333;
    background: black;
    outline: none;
    border-radius: 5px;
    width: 500px;
    color: #efefef;
}

.word-counter {
    padding: 5px;
    font-size: 12px;
    position: absolute;
    right: 5px; /* Adjust the position as needed */
    bottom: 5px; /* Adjust the position as needed */
    color: gray;
    font-size: 12px;
    pointer-events: none;
}

.user-name-input-container {
    position: relative;
    width: 500px;
}
