.admin-subject-page-content {
    display: flex;
    color: #efefef;
    align-items: top;
    background: #111;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    justify-content: space-between;
}

.admin-subject-name-num {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-subject-name-num input {
    padding: 5px;
    background: transparent;
    border: none;
    width: 100px;
}

.admin-subject-name-num input:focus {
    outline: 0.5px solid #333;
    border-radius: 5px;
}

.admin-subject-name-num h4 {
    color: gray;
    font-size: 12px;
    margin-left: 5px;
}

.admin-subject-page-content span {
    margin-top: 4px;
    font-size: 10px;
    margin-left: 10px;
}

.admin-subject-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.admin-subject-update {
    padding: 10px;
    background: transparent;
    color: rgb(106, 255, 69);
    border: 0.5px solid #333;
    cursor: pointer;
    border-radius: 5px;
}

.admin-subject-update:hover {
    color: black;
    background: rgb(106, 255, 69);
    border: 0.5px solid black;
}

.admin-subject-delete {
    padding: 10px;
    background: transparent;
    color: rgb(255, 81, 69);
    border: 0.5px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.admin-subject-delete:hover {
    color: #efefef;
    background: red;
    border: 0.5px solid black;
}