

/* subject */
.subject-page-main {
    display: grid;
}

.subject-page-content {
    background: #111;
    padding: 15px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    color: aliceblue;
    margin: 10px 0;
    position: relative;
}

.subject-name-num h3 {
    display: flex;
    flex-direction: column;
}

.semester-number{
    font-size: 12px;
    font-weight: bold;
}

.subject-page-content button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 7px !important;
    height: 35px !important;
}

/* subject NAME */


.subject-name-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject-name-num h4{
    color: #acacac;
    font-size: 14px;
}

.subject-name-num a {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}

.subject-name-num a:hover {
    text-decoration: underline;
}



