.user-following-tags-container {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.user-following-tags {
    background: #111;
    padding: 20px;
    width: 300px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7px;
    border-radius: 10px;
}

.user-following-tags a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.user-following-tags a:hover {
    color: pink;
}

.following-tag-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.following-tag-name div{
    color: #888;
    font-size: 13px;
}

.following-tag-des {
    color: #888;
    font-size: 14px;
    margin-bottom: 30px;
}


