/* TAGS */
.tags-page-main {
    display: grid;
}

.tags-page-content {
    background: #111;
    padding: 15px;
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    color: aliceblue;
    margin: 10px 0;
    position: relative;
}

.tags-page-content button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 7px !important;
    height: 35px !important;
}

/* TAGS NAME */

.tags-name-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags-name-num h4 {
    color: #acacac;
    font-size: 14px;
}

.tags-name-num a {
    text-decoration: none;
    color: #efefef;
    font-size: 20px;
}

.tags-name-num a:hover {
    color: blueviolet
}