.home-page-post-title {
    margin-top: 15px;
    font-size: 30px;
}

.home-page-post-title a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.home-page-post-title a:hover {
    color: blueviolet;
}