/* SEARCH PAGE HEADER */

.search-page-header {
    display: flex;
    align-items: center;
    margin: 10px;
}

.search-page-header span {
    color: #9900ff;
    font-weight: bold;
    font-size: 35px;
    margin-left: 5px;
}