/* BODY MAIN */

.search-page-main-container {
    border-radius: 10px;
    width: 80%;
    margin-top: 13px;
    padding-left: 10px;
}

.search-page-post-filter {
    display: flex;
    margin-bottom: 15px;
}

.search-page-post-filter button {
    padding: 10px;
    color: #efefef;
    margin-right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-page-post-filter button:hover {
    background: #222;
    border-radius: 5px;
}