/* USER BIO */

.user-setting-profile-bio {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.user-setting-profile-bio label {
    padding: 5px 0;
    color: #efefef;
    font-weight: 600;
}


.user-setting-profile-bio textarea {
    width: 500px;
    background: black;
    border: 0.5px solid #333;
    outline: none;
    resize: none;
    color: white;
    font-size: 16px;
    overflow: hidden;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
}

.bio-input-container {
    position: relative;
    width: 500px;
}

.bio-word-counter {
    padding: 5px;
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: gray;
    font-size: 12px;
    pointer-events: none;
}