.follow-recomendations {
    background: #111;
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
}

.follow-recomendations h3 {
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 15px;
}

.recommend-user {
    padding: 7px 10px;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recommend-user:hover {
    background: #1a1a1a;
}

.recommend-user:last-child:hover {
    background: #1a1a1a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.recommend-user a {
    display: flex;
    text-decoration: none;
}

.recommend-user img {
    width: 40px;
    border-radius: 50%;
}

.profile-name {
    width: 200px;
    margin-left: 13px;
    align-items: center;
}

.profile-name p:first-child {
    color: white;
    margin-bottom: 3px;
    font-size: 12px;
}

.profile-name p:first-child:hover {
    text-decoration: underline;
}

.profile-name p:last-child {
    font-size: 13px;
    color: #666;
}

.follow-button {
    text-align: right;
    margin-top: 4px;
}