/* UpAndDownVoteButton.css */

.horizontal-arrow-container {
    display: flex;
    align-items: center;
}

.horizontal-upvote-button {
    color: white;
    cursor: pointer;
    align-items: center;
    padding: 3px;
}

.horizontal-downvote-button {
    color: white;
    cursor: pointer;
    align-items: center;
    padding: 3px;
}

.horizontal-upvote-button:hover {
    color: orange;
}

.horizontal-downvote-button:hover {
    color: blue;
}

.count {
    font-size: 13px;
    color: white;
    margin: 0 3px;
}