/* UpAndDownVoteButton.css */

.vertical-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-upvote-button {
    color: white;
    cursor: pointer;
    align-items: center;
    padding: 3px;
}

.vertical-downvote-button {
    color: white;
    cursor: pointer;
    align-items: center;
    padding: 3px;
}


.vertical-downvote-button:hover {
    color: blue;
}

.vertical-upvote-button:hover {
    color: orange
}

.count {
    font-size: 13px;
    color: white;
}