/* UpAndDownVoteButton.css */

.arrow-container {
    display: flex;
    align-items: center;
}

.upvote-button {
    color: #FFA500;
    cursor: pointer;
    align-items: center;
    padding: 3px;
}

.downvote-button {
    color: blue;
    cursor: pointer;
    align-items: center;
    padding: 3px;
}
.upvote-button:hover, .downvote-button:hover {
    background: #333;
}

.arrow-button:hover {
    background: #333;
    border-radius: 50%;
}

.count {
    font-size: 13px;
    color: white;
    margin: 0 3px;
}