/* admin Dashboard left navigation */ 

.admin-dashboard-left-nav {
    width: 230px;
}

.admin-dashboard-left-nav nav{
    background: black;
    padding: 0;
    padding: 5px;
}

.admin-dashboard-left-nav-list {
    list-style: none;
    width: 260px;
    margin-top: 10px;
}

.admin-dashboard-left-nav-list li{
    padding: 13px;
    margin-bottom: 5px;
}

.admin-dashboard-left-nav-link a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: block;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.active{
   background: #222;
   border-radius: 10px;
}

.admin-dashboard-left-nav-list li:hover{
    background: #333;
    border-radius: 10px;
}

.admin-dashboard-left-nav-list span {
    padding: 5px;
    background: #1a1a1a;
    border-radius: 10px;
}
