/* USER PROFILE CONTAINER DIV TAG */

.user-profile-header-container {
    color: white;
}

/* USER PROFILE HEADER TAG */

.user-profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to bottom, #333 19%, #111 19%);
    border-radius: 10px;
}

.user-profile-header-action a {
    text-decoration: none;
    background: transparent;
    color: #efefef;
    padding: 10px 20px;
    border: 0.5px solid #333;
    border-radius: 5px;
    transition: background 0.5s;
}

.user-profile-header-action a:hover {
    background: rgb(31, 98, 255);
}

/* TOP OF THE HEADER TAG */

.user-profile-header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-profile-avatar img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    background: #333;
    padding: 10px;
}

.user-profile-header-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

/* BODY OF THE HEADER TAG */

.user-profile-header-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    width: 100%;
}

/* FULL NAME */

.user-profile-header-full-name {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-header-full-name p {
    margin-top: 10px;
    font-size: 15px;
    color: gray;
}

/* BIO */

.user-profile-header-bio {
    color: #fefefe;
}

/* DETAIL */

.user-profile-header-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: 15px 7px;
    margin-left: 85px;
}

.user-profile-header-detail-item {
    display: flex;
    align-items: center;
}

.user-profile-header-detail-item path {
    fill: #a3a3a3;
}

.user-profile-header-country svg,
.user-profile-header-join svg {
    margin-right: 5px;
}

/* WORK */

.user-profile-header-work {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.5px solid #333;
}

.user-profile-header-work strong {
    padding: 5px 0;
}