/* USER AVATAR */

.user-setting-profile-avatar-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.user-setting-profile-avatar-container label {
    padding: 5px 0;
    color: #efefef;
    font-weight: 600;
}

.user-setting-profile-avatar {
    display: flex;
    align-items: center;
    width: 500px;
}

.user-setting-profile-avatar span {
    margin-right: 10px;
}

.user-setting-profile-avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.user-setting-profile-avatar input {
    padding: 15px;
    border: 0.5px solid #333;
    border-radius: 8px;
    color: #efefef;
    font-size: 16px;
    width: 100%;
    background: black;
}

.user-setting-profile-avatar input:focus {
    outline: none;
}
