.home-page-user-profile {
    display: flex;
    align-items: center;
}

.home-page-user-profile a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #efefef;
}

.home-page-user-profile a:hover {
    text-decoration: underline;
}

.home-page-user-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.home-page-user-info p {
    color: white;
    font-weight: 600;
}

.home-page-user-info p:hover {
   text-decoration: underline;
}

.home-page-user-info small {
    color: #666;
}

