/* BODY SIDE */

.search-page-body {
    display: flex;
}

.search-page-side ul {
    padding: 10px;
    width: 200px;
    list-style-type: none;
}

.search-page-side li {
    margin: 3px 0;
    width: 100%;
}

.search-page-side li:hover {
    background: #222;
    border-radius: 5px;
}

.search-page-side-option {
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
    padding: 13px 8px;
}

.active {
    background: rgb(41, 86, 200);
    border-radius: 5px;
}