.comment-form {
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-top: 10px;
}

.comment-profile-and-text {
    display: flex;
    align-items: top;
    margin-top: 10px;
}

.comment-publish-button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 45px;
    border-radius: 5px;
    background: transparent;
    border: 0.5px solid #333;
    color: rgb(28, 145, 255);
    cursor: pointer;
}

.comment-publish-button:hover {
    background: rgb(28, 145, 255);
    color: white;
}

.comment-form span {
    padding-right: 10px;
}

.comment-form img {
    width: 35px;
    border-radius: 50%;
}

.comment-box {
    background: black;
    resize: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 90%;
    border-radius: 10px;
}

.comment-box::placeholder {
    color: #626262;
}