.detailed-post-container {
    width: 100%;
    background: #111;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user-profile-and-approve-button {
    display: flex;
    justify-content: space-between;
}

/* APPROVE BUTTONS */

.post-approve-button {
    margin-bottom: 20px;
}

.detail-approve-button {
    padding: 10px;
    background: transparent;
    color: #818cf8;
    border-radius: 5px;
    border: 0.5px solid #818cf8;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.detail-approve-button:hover {
    background: #6775f7;
    color: #efefef;
}

.not-detail-approve-button {
    padding: 10px;
    background: transparent;
    color: rgb(241, 74, 94);
    border-radius: 5px;
    border: 0.5px solid rgb(241, 74, 94);
    font-size: 15px;
    cursor: pointer;
}

.not-detail-approve-button:hover {
    background: rgb(241, 74, 94);
    color: #efefef;
}

/* POST MANAGE BUTTON */

.post-manage-button {
    margin-bottom: 20px;
}

.post-edit-button {
    padding: 10px;
    background: transparent;
    color: #818cf8;
    border-radius: 5px;
    border: 0.5px solid #818cf8;
    width: 70px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.post-edit-button:hover {
    background: #6775f7;
    color: #efefef;
}

.post-delete-button {
    width: 70px;
    padding: 10px;
    background: transparent;
    color: rgb(241, 74, 94);
    border-radius: 5px;
    border: 0.5px solid rgb(241, 74, 94);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.post-delete-button:hover {
    background: rgb(241, 74, 94);
    color: #efefef;
}

/* */

.post-details {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}

.post-interact {
    display: flex;
    align-items: center;
}



.detail-post-divider {
    width: 40%;
    height: 0.5px;
    background-color: gray;
    margin: 25px auto;
}