.user-profile-main-content {
    display: flex;
    flex-direction: column;
}

/* USER PROFILE BODY */

.user-profile-body-container {
    padding: 15px 0;
    margin-top: 15px;
    display: flex;
}

/* USER PROFILE BODY MAIN CONTAINER*/

.user-profile-body-main {
    width: 100%;
}

