.post-container {
    width: 100%;
    background: #111;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-interact {
    display: flex;
    align-items: center;
}

.recent-post-action {
    display: flex;
}

.recent-post-action a {
    padding: 10px;
    text-decoration: none;
    color: #efefef;
    margin: 0px 10px;
}

.recent-post-action a:hover {
    background: #333;
    border-radius: 5px;
}