.post-container {
    width: 100%;
    background: #111;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-interact {
    display: flex;
    align-items: center;
}

.recent-post-action {
    display: flex;
}

.recent-post-action button {
    width: 70px;
    height: 40px;
    background: transparent;
    color: rgb(255, 58, 58);
    border: 0.5px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
}

.recent-post-action button:hover {
    background: rgb(255, 58, 58);
    color: white;
}

.recent-post-action a {
    padding: 10px 25px;
    text-decoration: none;
    color: rgb(64, 158, 245);
    margin: 0px 10px;
    border: 0.5px solid #333;
    border-radius: 5px;
    font-size: 15px;
}

.recent-post-action a:hover {
    background: rgb(64, 158, 245);
    border-radius: 5px;
    color: #efefef;
}