/* MAIN POST CONTAINER */

.search-page-main-post {
    background: #101010;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* BOOKMARK POSTS */

/* POST PROFILE (IMAGE + FULL NAME + TIME POSTED) */

.search-page-profile a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.search-page-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.search-page-profile-info {
    margin-left: 10px;
}

.search-page-profile-info p {
    color: #efefef;
    font-weight: bold;
}

.search-page-profile-info p:hover {
    text-decoration: underline;
}

.search-page-profile-info small {
    color: #acacac;
    font-size: 12px;
}

/* POST CONTENT (TITLE + TAGS + INTERACTION) */

.search-page-content {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

/* TITLE */

.search-page-post-title {
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-page-post-title a {
    text-decoration: none;
    color: white;
    font-size: 27px;
}

.search-page-post-title a:hover {
    color: blueviolet
}

/* TAGS */

.search-page-post-tag-container {
    gap: 10px;
    margin: 0px 0px 0px -5px;
}

.search-page-post-tag-container a {
    text-decoration: none;
    color: #efefef;
    padding: 5px 7px;
}

.search-page-post-tag-container a:hover {
    background: #333;
    border-radius: 5px;
}


/* INTERACTION (UPVOTE + COMMENT + BOOKMARK) */

.search-page-post-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: -5px;
}

.post-interact {
    display: flex;
    align-items: center;
}