/* forgot-password FORM CONTAINER */

.forgot-password-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

/* forgot-password FORM HEAD */

.forgot-password-form-container h1 {
    color: white;
    font-size: 30px;
}

.forgot-password-form-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* BODY */

.forgot-password-form{
    color: white;
    margin-top: 20px;
}

.forgot-password-form form {
    width: 343px;
}

/* FORGOT PASSWORD EMAIL TEXTBOX */

.forgot-password-form-email {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.forgot-password-form-email label {
    color: white;
    margin-bottom: 5px;
}

.forgot-password-form-email input {
    background-color: #111;
    padding: 5px;
    border: 0.5px solid #333;
    border-radius: 5px;
}

/* SUBMIT AND GO BACK BUTTON */

.forgot-password-button {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.forgot-password-button input {
    background-color: #3b49df;
    color: white;
    border: none;
    height: 33px;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

.forgot-password-button input:hover {
    background-color: #3b49aa;
}

.forgot-password-button a {
    text-decoration: none;
    color: #3b49df;
    padding: 10px 0;
    margin-top: 5px;
}

.forgot-password-button a:hover {
    text-decoration: underline;
}
