
/* Left side bar */

.detail-blog-post-page-left {
    flex-basis: 5%;
    position: sticky;
    top: 140px;
    align-self: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Right side bar */

.detail-blog-post-page-right {
    position: sticky;
    flex-basis: 20%;
    top: 100px;
    align-self: flex-start;
    padding: 10px;
    border-radius: 15px;
    color: #626262
}

/* Middle */

.detailed-post-container {
    flex-basis: 67%;
}