.category-page-disable-item-header {
    color: #efefef;
    padding: 10px;
}

.admin-deleted-category-page-content {
    display: flex;
    color: #efefef;
    align-items: top;
    background: #111;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    height: 72px;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.admin-deleted-category-name-num {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-deleted-category-name-num h3 span {
    font-size: 18px;
    margin-right: 3px;
}

.admin-deleted-category-name-num input {
    padding: 5px;
    background: transparent;
    border: none;
    width: 100px;
    color: #efefef;
    font-size: 16px;
}

.admin-deleted-category-name-num input:focus {
    outline: 0.5px solid #333;
    border-radius: 5px;
}

.admin-deleted-category-name-num h4 {
    color: gray;
    font-size: 12px;
    margin-left: 5px;
}

.admin-deleted-category-page-content span {
    margin-top: 4px;
    font-size: 10px;
    margin-left: 10px;
}

.admin-deleted-category-enable {
    height: 37px;
    width: 65px;
    background: transparent;
    border: 0.5px solid #333;
    color: rgb(77, 255, 53);
    border-radius: 5px;
    cursor: pointer;
}

.admin-deleted-category-enable:hover {
    background:  rgb(77, 255, 53);
    color: black;
}