.user-bookmark-container {
    color: white;
}

/* USER BOOKMARK BODY */

.user-bookmark-body {
    display: flex;
}

/* BOOKMARK MAIN CONTENT */

.user-bookmark-main-container {
    background: #111;
    border-radius: 10px;
    width: 80%;
}







