.user-setting-profile-container {
    display: flex;
    flex-direction: column;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    width: 550px;
}

.user-setting-profile-container h2 {
    padding-bottom: 20px;
}

/* USER SETTING CONTAINER */

.user-setting-profile-user-container {
    padding: 10px;
}



/* SAVE BUTTON */

.user-setting-profile-save button {
    width: 500px;
    height: 43px;
    border-radius: 8px;
    background: black;
    color: #efefef;
    outline: none;
    border: 0.5px solid #333;
    cursor: pointer;
    margin-top: 10px;
}

.user-setting-profile-save button:hover {
    background: #222;
}

.user-setting-profile-save button:active {
    background: #333;
}